<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="/layout/head" th:fragment="headFragment"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Hong Museum</title>
<body>
<th:block sec:authorize="isAnonymous()" th:replace="layout/header_not_login :: topbarFragment"></th:block>
<th:block sec:authorize="isAuthenticated()" th:replace="layout/header_is_login :: topbarFragment"></th:block>
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">박물관 방문을 환영합니다</h1>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img alt="..."
                                  class="card-img-top"
                                  src="https://overlay.cocoblue.me/images/1museum.jpg"/></a>
                <div class="card-body">

                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->

            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0"/>
                <ul class="pagination justify-content-center my-4">


                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">회원가입/로그인</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">회원가입/로그인</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">예약</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">예약</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">마이 페이지</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">마이 페이지</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer-->
            </div>
        </div>
    </div>
</div>
</body>
</html>