<html>
<head>
    <title>로그인</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <br>
        <img src="//overlay.cocoblue.me/images/museum_icon.png" style="align-content: center">
        <h1>Hong Museum</h1>
        <h2 th:if="${fail == true}" style="color: tomato;">로그인에 실패하였습니다.</h2>
        <form method="post" action="/auth">
            <input type="text" name="userId" class="fadeIn second" placeholder="****@exapmle.com">
            <input type="password" name="password" class="fadeIn third" placeholder="비밀번호">
            <input type="submit" value="로그인" class="fadeIn fourth">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="/register">회원가입 하시겠습니까?</a>
        </div>
    </div>
</div>
</body>
</html>